* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

h2 {
    color: #2F8D46;
}

#form {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.finish {
    text-align: center;
}

#form fieldset:not(:first-of-type) {
    display: none;
}

#form .previous-step, .next-step {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}